<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cards | Splash</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link rel="stylesheet" href="../../styles/main.css" />
        <link rel="stylesheet" href="cards.css" />
    </head>

    <body>
        <header class="header">
            <figure class="logo">
                <img src="../../images/Splash_logo_02.png" alt="Splash Logo">
                <span class="page-title">
                    Splash
                </span>
            </figure>
            
        <nav class="navbar">
    
            <ul class="menu-list">
               
            </ul>
        </nav>
        </header>
    
        <main class="forms-page">
            <br>
            <section class="sidebar">

            </section>
            <br>
        </main>
    
        <footer class="footer">

        </footer>
    </body>
</html>