<<<<<<< HEAD
@import -  'components/buttons.scss';
@import -  'components/cards.scss';
@import -  'components/grid.scss';
@import -  'components/forms.scss';
=======
@import 'components/buttons.scss';
@import 'components/cards.scss';
@import 'components/grid.scss';
@import 'components/forms.scss';
@import 'components/variables.scss';
>>>>>>> main

body {
  margin: 0;
  background: #f1f1f1;
  font-family: Roboto;
  font-size:16px;
}

*, ::after, ::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

p{
  margin:0;
}

main{
  clear:both;
}

section{
  margin:32px 16px;
}

.has-background-primary {
  background-color: $primary;
}

.has-text-primary {
  color: $primary;
}

figure {
  margin: 0;
}

.image img{
  max-width:100%;
}

.title {
  margin: 0 0 16px;
  font-weight: 300;
}

.subtitle {
  font-weight: 300;
}

.title.is-1 {
  font-size: 64px;
  font-weight:800;
}

.title.is-2 {
  font-size: 32px;
}

.title.is-3 {
  font-size: 24px;
}

.title.is-5 {
  font-size: 20px;
}

.title~.subtitle {
  margin-top: -16px;
}

.link{
  color:$primary;
  text-decoration: underline;
}

.link:hover{
  color:#524ac2;
}

.header {
  background: #04050A;
  padding: 16px;
  min-height:40px;
}

.header .logo {
  float: left;
  padding: 8px;
  margin: 0;
  padding: 4px 0 0;
}

.header .logo img{
  height:32px;
  border-radius:8px;
}

.footer .logo img{
  height:32px;
  border-radius:8px;
}

.footer .logo span{
  vertical-align: top;
}

.header .page-title {
  font-weight: 600;
  color: #fff;
  vertical-align: 50%;
}

.header .navbar {
}

.navbar-wrapper{
  display: flex;
  justify-content: space-between;
}

.hero {
  padding: 64px 0 32px;
  margin:0;
  clear: both;
  background: #04050A;
}
.hero .title,
.hero .subtitle{
  color: #fff;
}

.hero p {
  color: #bbb;
}

.hero .image {
  max-width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.hero .button{
  width:100%;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .menu-list .menu-item {
  display: inline-block;
  padding: 8px;
}

.navbar .menu-list .menu-item a:not(.button) {
  text-decoration: none;
  color: #bbb;
  line-height: 18px;
}

.footer-nav .menu-list {

}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.container.is-small{
  max-width: 600px;
  margin: 0 auto;
}

.card {
  background: #fff;
}

.card>.card-content {
  padding: 32px;
}

.product-card .card-content{
  display: flex;
  justify-content: space-between;
}

.product-image{
  width:40%;
  height:220px;
  border-radius:8px;
}

.product-card .product-detail{
  width:60%;
  padding-left:32px;
}
.sales-price{
  color:#FFD045;
}
.price{
  font-size:70%;
  color:#bbb;
  text-decoration: line-through;
}

#product-row .column:nth-child(1) .product-image{
  background-image:url('https://unsplash.com/photos/LxVxPA1LOVM/download?force=true');
  background-size: cover;
  background-position: center;
}

#product-row .column:nth-child(2) .product-image{
  background-image:url('https://unsplash.com/photos/164_6wVEHfI/download?force=true');
  background-size: cover;
  background-position: center;
}
#product-row .column:nth-child(3) .product-image{
  background-image:url('https://unsplash.com/photos/4qSb_FWhHKs/download?force=true');
  background-size: cover;
  background-position: center;
}
#product-row .column:nth-child(4) .product-image{
  background-image:url('https://unsplash.com/photos/_fOL6ebfECQ/download?force=true');
  background-size: cover;
  background-position: center;
}

.icon {
  padding: 8px;
  border-radius: 8px;
}

.icon.is-yellow {
  background: #FAF8E0;
  color: #FFD045;
}

.icon.is-green {
  background: #DCFCEF;
  color: #02E879;
}

.icon.is-purple {
  background: #F4EBFD;
  color: #B753E7;
}

.footer {
  background: #212121;
  padding: 32px;
}

.footer .title {
  color: #fff;
}

.footer p,
.footer label,
.footer a,
.footer span {
  color: #f1f1f1;
}

/* .column {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 16px;
}

.column.is-3 {
  width: 24.5%;
}

.column.is-4 {
  width: 33%;
}

.column.is-6 {
  width: 49.7%;
} */


/*
  Helpers
*/

.has-text-green{
  color:#4e9400;
}