@import 'components/tabs.scss';
@import 'components/sliders.scss';

.stars .icon{
  color:#ff9800;
  padding:0;
}

.products-section .sales-price{
  font-size:32px;
  color:#ff9800;
}
.products-section .price{
  font-size:18px;
}