$font-family: '';
$font-size: '';

$h1-font-size: '';
$h2-font-size: '';
$h3-font-size: '';

$background-color:'';
$gutter-spacing:'';

$primary:#665df5;
$success:#4CAF50;
$danger:#f44336;
$warning:#ff9800;
$info: $primary;

$radius:4px;
