.button:not(.is-small) {
  position: relative;
  line-height: 14px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  box-sizing: border-box;
  transition: .2s ease-in;
  outline: 0 !important;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  height: 48px;
  line-height: 14px; }
  .button:focus:not(.is-small), .is-focused.button:not(.is-small), .button:active:not(.is-small), .is-active.button:not(.is-small) {
    outline: none;
    box-shadow: none; }
  .button[disabled]:not(.is-small),
  fieldset[disabled] .button:not(.is-small) {
    cursor: not-allowed; }

.button.is-small {
  position: relative;
  line-height: 14px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  box-sizing: border-box;
  transition: .2s ease-in;
  outline: 0 !important;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  height: 36px;
  line-height: 12px; }
  .button.is-small:focus, .is-focused.button.is-small, .button.is-small:active, .is-active.button.is-small {
    outline: none;
    box-shadow: none; }
  .button.is-small[disabled],
  fieldset[disabled] .button.is-small {
    cursor: not-allowed; }

.buttons {
  display: flex;
  margin-top: 16px; }

.button {
  border: 0.5px solid transparent;
  padding: 8px 20px;
  color: #fff;
  border-radius: 4px;
  background-color: #4a917e;
  text-decoration: none; }
  .button:not(:last-child) {
    margin-right: 8px; }
  .button.is-fullwidth {
    width: 100%; }
  .button.is-large {
    font-size: 20px; }

.button.is-primary {
  border-color: #396f61;
  background-color: #4a917e;
  transition: background-color .2s ease-in; }
  .button.is-primary:hover {
    cursor: pointer;
    background-color: #1e7c3e; }

.button.is-secondary {
  border-color: #3e3e3e;
  background-color: #575757;
  transition: background-color .2s ease-in; }
  .button.is-secondary:hover {
    cursor: pointer;
    background-color: #3e3e3e; }

.button.is-secondary .get-acess {
  margin: 0px 60px 0 0; }
  .button.is-secondary .get-acess:hover {
    cursor: pointer;
    background-color: #3e3e3e; }

.button.is-danger {
  border-color: #8d1121;
  background-color: #bb162c;
  transition: background-color .2s ease-in; }
  .button.is-danger:hover {
    cursor: pointer;
    background-color: #8d1121; }

/* button success */
.button.is-success {
  border-color: #145329;
  background-color: #1e7c3e;
  transition: background-color .2s ease-in; }
  .button.is-success:hover {
    cursor: pointer;
    background-color: #145329; }

/* button info */
.button.is-info {
  border-color: #1c3760;
  background-color: #274e88;
  transition: background-color .2s ease-in; }
  .button.is-info:hover {
    cursor: pointer;
    background-color: #1c3760; }

/* button warning */
.button.is-warning {
  border-color: #703607;
  background-color: #a04d0a;
  transition: background-color .2s ease-in; }
  .button.is-warning:hover {
    cursor: pointer;
    background-color: #703607; }

/*
 Page specific styles, not to be used in component
*/
.buttons-page {
  margin: 22px 28px; }

.buttons-page code {
  float: right;
  line-height: 40px; }

.row {
  display: flex;
  justify-content: space-between;
  margin-left: -16px;
  margin-right: -16px; }
  .row.is-multiline {
    flex-wrap: wrap; }
    .row.is-multiline .column {
      padding: 8px; }
  .row.is-small {
    margin-left: -8px;
    margin-right: -8px; }
    .row.is-small .column {
      padding: 8px; }
  .row .column {
    vertical-align: top;
    box-sizing: border-box;
    padding: 16px;
    width: 100%; }
    .row .column.is-1 {
      width: 8.33333333%; }
    .row .column.is-2 {
      width: 16.66666666%; }
    .row .column.is-3 {
      width: 25%; }
    .row .column.is-4 {
      width: 33.33333333%; }
    .row .column.is-5 {
      width: 41.66666666%; }
    .row .column.is-6 {
      width: 50%; }
    .row .column.is-7 {
      width: 58.33333333%; }
    .row .column.is-8 {
      width: 66.66666666%; }
    .row .column.is-9 {
      width: 75%; }
    .row .column.is-10 {
      width: 83.33333333%; }
    .row .column.is-11 {
      width: 91.66666666%; }
    .row .column.is-12 {
      width: 100%; }

body {
  margin: 0;
  background: #f1f1f1;
  font-family: Roboto;
  font-size: 16px; }

/* make question about this */
*, ::after, ::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

/* make question about this */
.has-background-primary {
  background-color: #4a917e; }

/* questions about this */
.has-text-primary {
  color: #4a917e; }

.text {
  color: #04050A; }

p {
  margin: 0; }

main {
  clear: both; }

section {
  margin: 32px 16px; }

.title, .hero-title, .hero-title-buttons {
  margin: 0 0 16px;
  font-weight: 600; }
  .title.is-1, .hero-title, .hero-title-buttons {
    font-size: 48px;
    font-weight: 800;
    font-family: londrina Solid; }
  .title.is-2, .is-2.hero-title, .is-2.hero-title-buttons {
    font-size: 32px; }
  .title.is-3, .is-3.hero-title, .is-3.hero-title-buttons {
    font-size: 24px; }
  .title.is-5, .is-5.hero-title, .is-5.hero-title-buttons {
    font-size: 20px; }
  .title ~ .subtitle, .hero-title ~ .subtitle, .hero-title-buttons ~ .subtitle {
    margin-top: -16px;
    font-family: Londrina Solid; }

.subtitle {
  margin-top: -8px;
  font-weight: 300; }
  .subtitle.is-1 {
    font-size: 64px;
    font-weight: 800; }
  .subtitle.is-2 {
    font-size: 32px; }
  .subtitle.is-3 {
    font-size: 24px; }
  .subtitle.is-4 {
    font-size: 20px; }
  .subtitle.is-5, .hero-subtitle, .hero-subtitle-buttons {
    font-size: 18px; }

.hero {
  padding: 24px 0 0;
  margin: 0;
  clear: both;
  background: #04050A; }

.hero-title {
  margin-top: 68px;
  color: #e6e6e6;
  font-weight: 400; }

.hero-title-buttons {
  margin-top: 68px;
  color: #04050A;
  font-weight: 400; }

.hero-subtitle {
  color: #e6e6e6;
  font-weight: 200; }

.hero-subtitle-buttons {
  color: #04050A;
  font-weight: 200; }

.title.products, .products.hero-title, .products.hero-title-buttons {
  font-weight: 300;
  margin-top: 16px; }

.hero p {
  color: #bbb; }

.hero .image {
  max-width: 100%;
  padding: 10px 30px 30px 0;
  box-sizing: border-box; }

.hero .button {
  width: 100%; }

.link {
  color: #4a917e;
  text-decoration: underline; }

.link:hover {
  color: #575757; }

.header {
  background: #04050A;
  padding: 16px;
  min-height: 40px;
  display: flex;
  justify-content: space-between; }
  .header .menu {
    float: right;
    margin-right: 24px; }

.header .logo {
  float: left;
  padding: 8px;
  margin: 0;
  padding: 4px 0 0; }

.header .logo img {
  height: 60px;
  margin-left: 24px; }

.header .page-title {
  font-size: 28px;
  color: #e6e6e6;
  font-family: Londrina Solid;
  vertical-align: 60%; }

figure {
  margin: 0; }

.menu-dropdown {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  padding: 8px;
  background: #e6e6e6;
  opacity: 0.85;
  border-radius: 4px;
  width: 120px; }

.dropdown-item {
  display: block; }
  .dropdown-item a {
    display: block;
    color: #04050A;
    padding: 12px 12px;
    text-decoration: none; }

.menu-item:hover .menu-dropdown, .menu-item-expandable:hover .menu-dropdown, .menu-item-active:hover .menu-dropdown {
  display: block; }

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.menu-item, .menu-item-expandable, .menu-item-active {
  display: inline-block;
  position: relative;
  margin-top: 22px;
  padding: 8px; }
  .menu-item > a:not(.button), .menu-item-expandable > a:not(.button), .menu-item-active > a:not(.button), .menu-item span, .menu-item-expandable span, .menu-item-active span {
    text-decoration: none;
    font-size: 14px;
    color: #e6e6e6;
    line-height: 18px; }

.menu-item a, .menu-item-expandable a, .menu-item-active a {
  text-decoration: none;
  font-size: 14px;
  color: #04050A;
  line-height: 18px; }

.menu-item-login {
  display: inline-block;
  position: relative;
  margin-top: 22px;
  padding: 8px; }
  .menu-item-login > a:not(.button), .menu-item-login span {
    text-decoration: none;
    font-size: 14px;
    color: #e6e6e6;
    line-height: 18px; }
  .menu-item-login.menu-item-login a {
    text-decoration: none;
    font-size: 14px;
    color: #e6e6e6;
    line-height: 18px; }

.menu-item-expandable:after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 4px;
  font-size: 12px;
  line-height: 20px;
  color: #e6e6e6; }

.menu-item-expandable:hover:after {
  content: "\f077"; }

.menu-item-active {
  color: #4a917e; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

.container.is-small {
  max-width: 600px;
  margin: 0 auto; }

.card {
  background: #fff;
  border-radius: 4px;
  display: block; }
  .card > .card-content {
    padding: 32px;
    box-shadow: #a1a1a1; }

.icon {
  padding: 8px;
  border-radius: 100%; }

.icon.is-green {
  background: #DEF6E5;
  color: #78c790; }

.icon.is-blue {
  background: #e9f2ff;
  color: #82a9db; }

.icon.is-red {
  background: #ffe9ef;
  color: #df798c; }

.footer-nav .menu-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.footer-nav .column .is-3 .menu-list .menu-item a, .footer-nav .column .is-3 .menu-list .menu-item-expandable a, .footer-nav .column .is-3 .menu-list .menu-item-active a {
  text-decoration: none;
  font-size: 12px; }

.footer .logo img {
  height: 38px; }

.footer .page-title {
  font-size: 18px;
  align-items: center;
  color: #e6e6e6;
  font-family: Londrina Solid;
  margin-left: 8px; }

.footer .title, .footer .hero-title, .footer .hero-title-buttons {
  color: #e6e6e6; }

.footer {
  background: #04050A;
  padding: 32px; }

.footer label,
.footer a,
.footer span {
  color: #e6e6e6;
  text-decoration: none; }

.footer p {
  color: #e6e6e6;
  font-size: 12px;
  margin: 18px 0 0 8px; }

.menu-list-footer {
  list-style: none;
  padding: 0;
  margin: 74px 0 0 0; }

.menu-item-footer {
  margin-top: 0px;
  padding: 6px;
  font-size: 12px; }

.column {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 16px; }

.column.is-3 {
  width: 24.5%; }

.column.is-4 {
  width: 32.3%; }

.column.is-6 {
  width: 49.7%; }

.rights {
  font-size: 12px;
  color: #555;
  font-weight: 300;
  font-family: Roboto;
  text-align: center; }
