.slider .slider-item .image{
  margin:0;
}

.slider .slider-image{
  border-radius:4px;
  margin-bottom:16px;
  overflow:hidden;
}

figure.image.slider-image img{
  width: 550px;
  height: auto;
}

figure.image img{
  width: 120px;
  height: 90px;
}

.slider .slider-items{
  display:flex;
}

.slider .slider-item {
  width:100%;
  border:2px solid transparent;
  cursor: pointer;
  opacity:.8;
  transition: .14s ease-in;
  overflow: hidden;
}

.slider-item:first-child{
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.slider-item:nth-child(5){
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.slider .slider-item:hover{
  opacity:.9;
}

.slider .slider-item.is-active{
  border-color:#665df5;
  opacity:1;
}

.stars .icon{
  color:#ff9800;
  padding:0;
}

.tabs{
  display: flex;
  list-style: none;
  padding:0;
  margin:16px 0 0;
}
.tabs .tab{
  padding:16px;
  width:50%;
  border-left:1px solid #bbb;
  border-right:1px solid #bbb;
  border-top:1px solid #bbb;
  background:#e1e1e1;
}

.tabs .tab:not(.is-active){
  border-bottom:1px solid #bbb;
}

.tabs .tab.is-active{
  background:none;
}

.tab-content{
  padding: 16px;
  border-left:1px solid #bbb;
  border-right:1px solid #bbb;
  border-bottom:1px solid #bbb;
}

.tab-content .row{
  margin:0;
}

.tab-content .column{
  padding:0;
}

.product-section .sales-price{
  font-size:32px;
  color:#ff9800;
}
.product-section .price{
  font-size:18px;
}