@import 'components/grid.scss';
@import 'components/variables.scss';


body {
    margin: 0;
    background: $background;
    font-family: Roboto;
    font-size: 16px;
}

/* questions about this */

*, ::after, ::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

/* questions about this */

.has-background-primary {
    background-color: $primary;
}
  
/* questions about this */

.has-text-primary {
    color: $primary;
}

.text {

}


p {
    margin: 0;
}

.title{
    margin: 0 0 16px;
    font-weight: 600;
    &.is-1 {
        font-size: 48px;
        font-weight:800;
        font-family: londina Solid;
      }
      
      &.is-2 {
        font-size: 32px;
      }
      
      &.is-3 {
        font-size: 24px;
      }
      
      &.is-5 {
        font-size: 20px;
      }
      
      ~.subtitle {
        margin-top: -16px;
        font-family: Londrina Solid;
      }
}

.subtitle {
    margin-top:-8px;
    font-weight: 300;
    &.is-1 {
      font-size: 64px;
      font-weight:800;
    }
    
    &.is-2 {
      font-size: 32px;
    }
    
    &.is-3 {
      font-size: 24px;
    }
    
    &.is-4 {
      font-size: 20px;
    }
    
    &.is-5 {
      font-size: 18px;
    }
  }

  .hero {
    padding: 64px 0 32px;
    margin: 0;
    clear: both;
    background: #04050A
  }

  .hero-title{
    @extend.title;
    @extend.title.is-1;
    color: #f1f1f1;
  }

  .hero-subtitle{
    @extend.subtitle.is-3;
    color: #f1f1f1;
  }

  .hero p {
    color: #bbb;
  }

  .hero .image {
    max-width: 100%;
    padding: 16px;
    box-sizing: border-box;
  }

  .hero .button {
    width: 100%;
  }

  .link{
    color:$primary;
    text-decoration: underline;
  }
  
  .link:hover{
    color: $secondary;
  }
  
.header {
    background: #04050A;
    padding: 16px;
    min-height: 40px;
}

.header .logo {
    float: left;
    padding: 8px;
    margin: 0;
    padding: 4px 0 0;
}

.header .logo  img{
    height: 60px;
}

.header .page-title {
    font-weight: 42px;
    vertical-align: 100%;
    color: #e6e6e6;
    font-family: Londrina Solid;
}

.header{
    display: flex;
    justify-content: space-between;
  }

figure{
    margin: 0;
}





.menu-dropdown{
    display:none;
    position: absolute;
    top:35px;
    left:0;
    padding:8px;
    background:#fff;
    border-radius:$radius;
    width:120px;
  }
  
  .dropdown-item{
    display:block;
    a{
      display:block;
      color:$text;
      padding:16px 12px;
      text-decoration: none;
    }
  }

.menu-item:hover {
    .menu-dropdown{
      display:block;
    }
  }

.menu-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item{
    display: inline-block;
    position: relative;
    margin-top: 22px;
    padding: 8px;
    > a:not(.button), span{
        text-decoration: none;
        font-size: 14px;
        color: #e6e6e6;
        line-height: 18px;
    }
}

.menu-item a{
    text-decoration: none;
    font-size: 14px;
    color: #e6e6e6;
    line-height: 18px;
}

.menu-item-expandable{
    @extend .menu-item;
    &:after{
      content: "\f078";
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900;
      margin-left: 4px;
      font-size: 12px;
      line-height: 20px;
      color: #04050A;
    }
    &:hover:after{
      content: "\f077";
    }
  }

.menu-item-active{
    @extend .menu-item;
    color:$primary;
}











.footer-nav .menu-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav .column.is-3 .menu-list .menu-item a{
    text-decoration: none;
    font-size: 12px;
}

.footer .logo img{
    height: 38px;
}

.footer .page-title{
    font-weight: 42px;
    vertical-align: 80%;
    align-items: center;
    color: #ffffff;
    font-family: Londrina Solid;
}

.footer .title{
    color: #fff;
}

.footer{
    background: #212121;
    padding: 32px;
}

.footer label,
.footer a,
.footer span {
    color: #f1f1f1;
}

.footer p{
    color: #f1f1f1;
    font-size: 11px;
}

.column{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 16px;
}

.column.is-3{
    width: 24.5%;
}

.column.is-4{
    width: 32.3%;
}

.column.is-6{
    width: 49.7%;
} 

.rights {
        font-size: 12px;
        color: #555;
        font-weight: 300;
        font-family: Roboto;
        text-align: center;
}