<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buttons</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="../../styles/main.css" />
  <link rel="stylesheet" href="button.css" />
</head>

<body>
  <header class="header">
    <figure class="logo">
      <img src="../../images/company_logo.png" alt="Company logo">
      <span class="page-title">
        Sandbox
      </span>
    </figure>

    <nav class="navbar">
      <ul class="menu-list">
        <li class="menu-item">
          <a href="index.html" target="_blank">Buttons</a>
        </li>
        <li class="menu-item">
          <a href="../../components/cards/index.html" target="_blank">Cards</a>
        </li>
        <li class="menu-item">
          <a href="../../components/forms/index.html" target="_blank">Forms</a>
        </li>
        <li class="menu-item">
          <a href="../../components/sidebar/index.html" target="_blank">Sidebar</a>
        </li>

      </ul>
    </nav>
  </header>

  <main class="buttons-page">
    <div class="container">

      <h3 class="title is-2">My buttons</h3>
      <h6 class="subtitle">A list of buttons for all uses</h6>
      <hr>
      <section class="buttons-list">
        <button class="button is-primary"> Click me! </button>

        <code>
            &#x3C;button class=&#x22;button is-primary&#x22;&#x3E;Click me! &#x3C;/button&#x3E;
          </code>
        <hr>
        <button class="button is-danger"> Click me! </button>

        <code>
            &#x3C;button class=&#x22;button is-danger&#x22;&#x3E;Click me! &#x3C;/button&#x3E;
          </code>
        <hr>
        <button class="button is-success"> Click me! </button>

        <code>
            &#x3C;button class=&#x22;button is-success&#x22;&#x3E;Click me! &#x3C;/button&#x3E;
      </code>
        <hr>
        <button class="button is-info"> Click me! </button>

        <code>
            &#x3C;button class=&#x22;button is-info&#x22;&#x3E;Click me! &#x3C;/button&#x3E;
      </code>
        <hr>
        <button class="button is-warning"> Click me! </button>
        <code>
            &#x3C;button class=&#x22;button is-warning&#x22;&#x3E;Click me! &#x3C;/button&#x3E;
      </code>
        <hr>
      </section>
    </div>

  </main>

  <footer class="footer">
    <nav class="footer-nav">
      <div class="column is-3">
        <figure class="logo">
          <img src="../../images/company_logo.png" alt="Company logo">
          <span>Sandbox</span>
        </figure>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, cum.</p>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="column is-3">
        <ul class="menu-list">
          <li class="menu-item">
            <a href="Alexandre/index.html" target="_blank">Alexandre</a>
          </li>
          <li class="menu-item">
            <a href="Carlos/index.html" target="_blank">Carlos Campos</a>
          </li>

        </ul>
      </div>
      <div class="column is-3">
        <ul class="menu-list">
          <li class="menu-item">
            <a href="inesCorreia/index.html" target="_blank">Inês Correia</a>
          </li>
          <li class="menu-item">
            <a href="pedro/index.html" target="_blank">Pedro Barbosa</a>
          </li>
        </ul>
      </div>
      <div class="column is-3">
        <ul class="menu-list">
          <li class="menu-item">
            <a href="tvieira/index.html" target="_blank">Tânia Vieira</a>
          </li>

          <li class="menu-item">
            <a href="vitor/index.html" target="_blank">Vitor Coelho</a>
          </li>
        </ul>
      </div>
    </nav>

  </footer>
</body>

</html>