.row {
    display: flex;
    justify-content: space-around;
}

.column{
    vertical-align:top;
    box-sizing: border-box;
    padding: 16px;
}

.column is-4{
    width: 33,33333%;
    padding: 32px;
}

.column is-6{
    /*width: calc(50% - 32px);*/
    width:50%;
    padding: 32px;
}

.column is-12{
    width:100%;
    padding: 32px;
}

.box{
    height: 300px;
    width:100%
    background-color: red;
}

