.field:not(:last-child){
  margin-bottom:32px;
}

.field input,
.field textarea,
.field select{
  box-sizing: border-box;
}

.forms-page .title.is-2{
  margin-top:32px;
}

.form{
  margin-top:32px;
}

.form label{
  display:block;
  margin-bottom:8px;
}

.input, .select{
  height:42px;
  min-width: 100px;
  width:100%;
  padding:4px 8px;
  border:none;
  background:none;
  outline:0!important;
  border:1px solid #ccc;
  border-radius: 4px;
  background:#f1f1f1;
}

.field .icon{
  position: absolute;
  line-height: 42px;
  padding: 0 10px;
  color:#999;
}

.field:hover .icon{
  color:#000;
  display: block;
}

.field .icon ~ .input{
  padding-left: 32px;
}

.input.is-dark{
  color:#fff;
  background:#333;
  border:1px solid #333;
}

.input ~ .message{
  margin-top:6px;
  font-size:12px;
  color:#777;
}
.input ~ .message.is-danger{
  color:#f44336;
}

.input ~ .message.is-info{
  color:#665df5;
}

.input:hover{
  border:1px solid #555;
}

.input:focus{
  border:1px solid #665df5;
}

.textarea{
  min-width: 200px;
  min-height: 80px;
  padding:8px;
  background:none;
  border:1px solid #555;
  border-radius: 8px;
  outline:0!important;
}

.textarea:hover{
  border:1px solid #000;
}

.textarea:focus{
  border:1px solid #665df5;
}

.select{
  /* -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none; */
}

.select:after{
  /* font-family: "Font Awesome 5 Free"; 
  font-weight: 400; 
  content: "\f078";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; */
}

.control{
  display:inline-block;
}

.control label{
  display:inline-block;
}

.control input{
  display:inline-block;
}
