@import 'variables.scss';
@import 'mixins.scss';

$input-bg:#f1f1f1;

.field{
  &:not(:last-child){
    margin-bottom:32px;
  }
  &:hover .icon{
    color:#000;
    display: block;
  }
  input,
  textarea,
  select{
    box-sizing: border-box;
  }
  .icon{
    position: absolute;
    line-height: 42px;
    padding: 0 10px;
    color:#999;
     ~  .input{
      padding-left: 32px;
    }
  }
}

.forms-page .title.is-2{
  margin-top:32px;
}

.form{
  margin-top:32px;
  label{
    display:block;
    margin-bottom:8px;
  }
}

.input, .select{
  background:$input-bg;
  min-width: 100px;
  width:100%;
  border-color:#ccc;
  
  &:hover{
    border:1px solid #555;
  }
  &:focus{
    border:1px solid $primary;
  }

  &:not(.is-small){
    @extend %control;
  }

  &.is-small{
    @extend %control-small;
  }

  &.is-dark{
    color:#fff;
    background:#333;
    border:1px solid #333;
  }
  ~ .message{
    margin-top:6px;
    font-size:12px;
    color:#777;
    &.is-danger{
      color:#f44336;
    }
    &.is-info{
      color:$primary;
    }
  }
}


.textarea{
  min-width: 200px;
  min-height: 80px;
  padding:8px;
  background:none;
  border:1px solid #555;
  border-radius: 8px;
  outline:0!important;
  &:hover{
    border:1px solid #000;
  }
  &:focus{
    border:1px solid $primary;
  }
}

.select{

}

.control{
  display:inline-block;
  label{
    display:inline-block;
  }
  
 input{
    display:inline-block;
  }
}
