$font-family: '';
$font-size: '';

$h1-font-size: '';
$h2-font-size: '';
$h3-font-size: '';

$black:#171718;
$grey:#64666d;
$dark:#1f2022;
$text:#2e2f32;

$background-color:'';
$gutter-spacing:'';

$primary:#665df5;
$success:#0bb783;
$danger:#f44336;
$warning:#ff9800;
$info: $primary;

$aqualight: #f3f6f9;

$radius:4px;
