
    body{
        margin:0px;
        background-color: #f1e8e8;
        font-family: ubuntu; 
        font-size:14px;
    }

    main{
        clear:both;
      }

    .has-background-primary {
        background-color: #665df5;
    }
        
    .has-text-primary {
        color: #665df5;
    }

    figure{
        margin:0;
    }

    .title{
        margin: 0 0 16px;
        font-weight: 300;
    }

    .subtitle{
        font-weight: 300;
    }

    .title.is-1 {
        font-size: 48px;
    }

    .title.is-2 {
        font-size: 32px;
    }

    .title~.subtitle{
        margin-top:-16px;
    }

    .header{
        background-color: #f1e8e8;
        padding:8px;
        min-height:40px;
    }

    .header .logo {
        float: left;
        padding: 8px;
        margin: 0;
    }

    .header .logo img{
        height: 32px;
        border-radius:4px;
    }

    .footer .logo img{
        height: 32px;
        filter:invert(100%);
    }

    .footer .logo span{
        vertical-align: top;
      }
    
    .header .page-title{
        font-weight:600;
        color: #000;
    }

    .header .navbar{
        float:right;
    }


    .hero{
        margin: 64px 0 32px;
        position: relative;
        clear:both; /*depois de um float deve ser inserido*/
    }

    .hero .title{
        margin-top:64px;
    }

    .hero .title,
    .hero .subtitle,
    .hero p {
        color: #373737;
    }

    .hero .image{
        width:100%;
        padding: 48px;
        box-sizing:border-box;
    }

    .menu-list{
        list-style:none;
        padding:0;
        margin:0;
    }

    .navbar .menu-list .menu-item{
        display: inline-block;
        padding: 8px;
    }

    .navbar .menu-list .menu-item a{
        text-decoration: none;
        line-height:18px;
        color: #111;
    }

    .footer-nav .menu-list {
        display: inline-block;
        padding: 8px;
    }

    .footer-nav .menu-list .menu-item a{
        text-decoration: none;
        line-height:18px;
        color: #fff;
    }



    .container{
        width: 800px;
        margin: auto;
        vertical-align:middle;
    }

    .card{
        background:#fff;
    }

    .card>.card-content{
        padding:16px;
    }

    .icon{
        padding: 8px;
        border-radius:8px;
    }

    .icon.is-yellow{
        background: #FAF8E0;
        color: #FFD045;
        padding:8px;
        border-radius:4px;
    }

    .icon.is-green{
        background: #DCFCEF;
        color:#02E879;
        padding:8px;
        border-radius:4px;
    }
    
    .icon.is-purple{
        background: #F4EBFD;
        color: #B753E7;
        padding:8px;
        border-radius:4px;
    }

    .footer{
        background-color:#111;
        padding: 32px;
    }

    .footer .title{
        color: white;
    }

    .footer p,
    .footer label,
    .footer a,
    .footer span {
        color: #fff;
    }

    .is-vertical-top{
        vertical-align: top;
    }

    .is-vertical-middle{
        vertical-align:baseline;
    }

   /* .column {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        padding:16px;
    }

    .column .is-3{
        width:25.5%;
    }

    .column .is-4{

    }

    .column .is-6{
        width:49.7%
    }  */
