a {
    text-decoration: none;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body {
    margin: 0;
    background: #f1f1f1;
}

figure {
    margin: 0;
}

.title {
    margin: 0 0 16px;
}

.title.is-1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

.title~.subtitle {
    margin-top: -16px;
}

.header {
    background: #F2EFEA;
    padding: 8px;
}

.header .logo {
    float: left;
    padding: 10px 0 0 10px;
    margin: 0;
}

.header .page-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.page-titleCV{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    padding-left: 28px;
    
}

.header .navbar {
    float: right;
}

.hero {
    margin: 64px 0 32px;
    clear: both;
}

.hero .title {
    margin-top: 64px;
}

.hero .image {
    max-width: 100%;
    padding: 48px;
    box-sizing: border-box;
}

.menu-list {
    list-style: none;
    padding: 10px 10px 0 0;
    margin: 0;
    float: right;
}

.menu-list .menu-item {
    display: inline-block;
    padding: 8px;
}

.menu-list .menu-item a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #111;
    line-height: 18px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.card {
    background: #fff;
}

.card>.card-content {
    padding: 16px;
}

.footer {
    background: #212121;
    padding: 32px;
}

.footer .title {
    color: #fff;
}

.footer p,
.footer label,
.footer a,
.footer span {
    color: #f1f1f1;
}


.column {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 16px;
}

.column.is-3 {
    width: 24.5%;
}

.column.is-4 {
    width: 33%;
}

.column.is-6 {
    width: 49.7%;
}