<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/tvieira/css/all.css" />

</head>

<body>
    <main id="content">
        <div class="container">
            <ul class="pagination">
                <li class="page--active">
                    <a href="" class="page__item">1</a>
                </li>
                <li class="page">
                    <a href="" class="page__item">2</a>
                </li>
                <li class="page">
                    <a href="" class="page__item">3</a>
                </li>
                <li class="page">
                    <span class="page__item--separator"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
                </li>
                <li class="page">
                    <a href="" class="page__item">7</a>
                </li>
                <li class="page">
                    <a href="" class="page__item--separator"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </main>
</body>

</html>