.table {
  background: #f1f1f1; }

.table thead {
  background: #e1e1e1; }

.table th {
  padding: 16px; }

.table thead th {
  border-bottom: 1px solid #bbb; }

.table tbody tr th {
  border-bottom: 1px solid #bbb; }

.table tbody tr td {
  border-bottom: 1px solid #bbb; }

.table th > i {
  float: right; }

.table td {
  padding: 24px; }

.sidebar .logo {
  height: 44px;
  width: 44px;
  margin: 8px;
  padding: 2px;
  background-color: #333;
  border-radius: 4px; }

.sidebar .menu__item .fa-chevron-up, .sidebar .vertical-nav .menu__item--active .fa-chevron-up, .vertical-nav .sidebar .menu__item--active .fa-chevron-up {
  display: none; }

.sidebar .menu__item .fa-chevron-down, .sidebar .vertical-nav .menu__item--active .fa-chevron-down, .vertical-nav .sidebar .menu__item--active .fa-chevron-down {
  display: inline-block; }

.sidebar .menu__item:hover .fa-chevron-up, .sidebar .vertical-nav .menu__item--active:hover .fa-chevron-up, .vertical-nav .sidebar .menu__item--active:hover .fa-chevron-up {
  display: inline-block; }

.sidebar .menu__item:hover .fa-chevron-down, .sidebar .vertical-nav .menu__item--active:hover .fa-chevron-down, .vertical-nav .sidebar .menu__item--active:hover .fa-chevron-down {
  display: none; }

.sidebar .menu__item:hover .dropdown, .sidebar .vertical-nav .menu__item--active:hover .dropdown, .vertical-nav .sidebar .menu__item--active:hover .dropdown {
  display: block; }

.sidebar .menu__item, .sidebar .vertical-nav .menu__item--active, .vertical-nav .sidebar .menu__item--active {
  display: block; }

.sidebar .menu__item a, .sidebar .vertical-nav .menu__item--active a, .vertical-nav .sidebar .menu__item--active a {
  display: block;
  padding: 12px 0;
  text-decoration: none;
  color: #333; }

.sidebar .menu__item a:hover, .sidebar .vertical-nav .menu__item--active a:hover, .vertical-nav .sidebar .menu__item--active a:hover {
  color: #665df5; }

.sidebar .dropdown {
  padding: 0 8px 8px; }

.sidebar .dropdown {
  display: none; }

.vertical-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  background: #04050A; }
  .vertical-nav .menu__item, .vertical-nav .menu__item--active {
    display: block; }
    .vertical-nav .menu__item a, .vertical-nav .menu__item--active a {
      display: block;
      padding: 5px;
      color: #e1e1e1;
      width: calc(100% - 4px);
      text-align: center;
      padding: 16px 0;
      border-left: 4px solid transparent;
      color: #fff; }
  .vertical-nav .menu__item--active a {
    color: #665df5;
    border-color: #665df5; }
  .vertical-nav .vertical-nav__user {
    position: absolute;
    bottom: 16px;
    left: 0;
    height: 60px;
    width: 60px;
    padding: 12px; }
    .vertical-nav .vertical-nav__user img {
      border-radius: 100%; }

body.sidebar-open {
  padding-left: 60px; }

.vertical-nav__logo {
  margin-bottom: 32px; }
