.table {
  background: #f1f1f1; }

.table thead {
  background: #e1e1e1; }

.table th {
  padding: 16px; }

.table thead th {
  border-bottom: 1px solid #bbb; }

.table tbody tr th {
  border-bottom: 1px solid #bbb; }

.table tbody tr td {
  border-bottom: 1px solid #bbb; }

.table th > i {
  float: right; }

.table td {
  padding: 24px; }

.sidebar .logo {
  height: 44px;
  width: 44px;
  margin: 8px;
  padding: 2px;
  background-color: #333;
  border-radius: 4px; }

.sidebar .menu__item .fa-chevron-up, .sidebar .vertical-nav .menu__item--active .fa-chevron-up, .vertical-nav .sidebar .menu__item--active .fa-chevron-up {
  display: none; }

.sidebar .menu__item .fa-chevron-down, .sidebar .vertical-nav .menu__item--active .fa-chevron-down, .vertical-nav .sidebar .menu__item--active .fa-chevron-down {
  display: inline-block; }

.sidebar .menu__item:hover .fa-chevron-up, .sidebar .vertical-nav .menu__item--active:hover .fa-chevron-up, .vertical-nav .sidebar .menu__item--active:hover .fa-chevron-up {
  display: inline-block; }

.sidebar .menu__item:hover .fa-chevron-down, .sidebar .vertical-nav .menu__item--active:hover .fa-chevron-down, .vertical-nav .sidebar .menu__item--active:hover .fa-chevron-down {
  display: none; }

.sidebar .menu__item:hover .dropdown, .sidebar .vertical-nav .menu__item--active:hover .dropdown, .vertical-nav .sidebar .menu__item--active:hover .dropdown {
  display: block; }

.sidebar .menu__item, .sidebar .vertical-nav .menu__item--active, .vertical-nav .sidebar .menu__item--active {
  display: block; }

.sidebar .menu__item a, .sidebar .vertical-nav .menu__item--active a, .vertical-nav .sidebar .menu__item--active a {
  display: block;
  padding: 12px 0;
  text-decoration: none;
  color: #333; }

.sidebar .menu__item a:hover, .sidebar .vertical-nav .menu__item--active a:hover, .vertical-nav .sidebar .menu__item--active a:hover {
  color: #665df5; }

.sidebar .dropdown {
  padding: 0 8px 8px; }

.sidebar .dropdown {
  display: none; }

.vertical-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  background: #04050A; }
  .vertical-nav .menu__item, .vertical-nav .menu__item--active {
    display: block; }
    .vertical-nav .menu__item a, .vertical-nav .menu__item--active a {
      display: block;
      padding: 5px;
      color: #e1e1e1;
      width: calc(100% - 4px);
      text-align: center;
      padding: 16px 0;
      border-left: 4px solid transparent;
      color: #fff; }
  .vertical-nav .menu__item--active a {
    color: #665df5;
    border-color: #665df5; }
  .vertical-nav .vertical-nav__user {
    position: absolute;
    bottom: 16px;
    left: 0;
    height: 60px;
    width: 60px;
    padding: 12px; }
    .vertical-nav .vertical-nav__user img {
      border-radius: 100%; }

body.sidebar-open {
  padding-left: 60px; }

.tags {
  display: flex; }

.tag {
  padding: 8px;
  border-radius: 8px;
  height: 35px;
  font-weight: 600; }
  .tag.is-primary {
    background-color: #665df5;
    color: #fff; }
  .tag.is-aqualight {
    color: #0bb783;
    background: #C9F7F4; }
  .tag.is-yellow {
    background-color: #ff9800;
    color: #000; }

.vertical-nav__logo {
  margin-bottom: 32px; }

.sales .column:nth-child(1) .sales__icon {
  background: #EDE5FF;
  color: #8951FC; }

.sales .column:nth-child(2) .sales__icon {
  background: #C9F7F4;
  color: #18C5BD; }

.sales .column:nth-child(3) .sales__icon {
  background: #FEE2E4;
  color: #F64E60; }

.sales .column:nth-child(4) .sales__icon {
  background: #D7F9EE;
  color: #0BB783; }

.activities {
  position: relative; }
  .activities:before {
    content: "";
    position: absolute;
    left: 64px;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: #ebedf3; }
  .activities .activity:nth-child(1) .activity__dot {
    color: #665df5; }
  .activities .activity:nth-child(2) .activity__dot {
    color: #ff9800; }
  .activities .activity:nth-child(3) .activity__dot {
    color: #f44336; }
  .activities .activity__dot {
    z-index: 1; }
    .activities .activity__dot .icon {
      display: block;
      background-color: #fff;
      margin-top: -4px;
      padding: 4px 8px; }

.todo {
  margin-top: 30px; }
  .todo .subtitle {
    margin-bottom: 0; }
  .todo .todo__border {
    border-left: 4px solid #0BB783; }
  .todo .todo__color {
    display: block;
    width: 20px;
    height: 20px;
    margin: 20px;
    background: #9fbdbb;
    border-radius: 4px; }
  .todo .media-content {
    width: 100%; }

.arrivals__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; }
  .arrivals__list li {
    padding: 0;
    width: 100%; }
    .arrivals__list li:not(:last-child) {
      margin-right: 10px; }
    .arrivals__list li:last-child {
      justify-self: flex-end; }
    .arrivals__list li .buttons {
      justify-content: flex-end; }
  .arrivals__list .buttons {
    margin: 0; }
  .arrivals__list .media-left .image {
    width: 60px;
    height: 60px;
    padding: 15px;
    background: #ebedf3;
    border-radius: 8px; }

.button.sales__dropdown {
  position: absolute;
  right: 30px;
  top: 30px;
  width: auto;
  min-width: 0;
  min-height: 0;
  height: auto;
  border: none;
  padding: 4px;
  color: #9fbdbb;
  font-size: 20px; }

.sales__type {
  font-size: 14px;
  margin-bottom: 0; }

.sales__price {
  font-weight: 800; }

.sales__icon {
  width: 45px;
  display: block;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0; }

.media {
  display: flex; }
  .media:not(:last-child) {
    margin-bottom: 20px; }

.media-left + .media-content {
  margin-left: 10px; }

.media-content + .media-right {
  margin-left: 10px; }
