.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 16px 0 0; }

.tabs .tab {
  padding: 16px;
  width: 50%;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-top: 1px solid #bbb;
  background: #e1e1e1; }

.tabs .tab:not(.is-active) {
  border-bottom: 1px solid #bbb; }

.tabs .tab.is-active {
  background: none; }

.tab-content {
  padding: 16px;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb; }

.tab-content .row {
  margin: 0; }

.tab-content .column {
  padding: 0; }

.slider .slider-item .image {
  margin: 0; }

.slider .slider-image {
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden; }

.slider .slider-items {
  display: flex;
  padding: 0;
  text-decoration: none;
  list-style: none;
  gap: 0;
  margin-left: -2px;
  margin-right: -2px; }

.slider .slider-item {
  width: 100%;
  border: 2px solid transparent;
  cursor: pointer;
  opacity: .8;
  transition: .14s ease-in;
  overflow: hidden; }
  .slider .slider-item.is-active {
    border-color: #665df5;
    opacity: 1; }
  .slider .slider-item:first-child {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px; }
  .slider .slider-item:nth-child(5) {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px; }
  .slider .slider-item:hover {
    opacity: .9; }
  .slider .slider-item img {
    display: block; }

.tags {
  display: flex; }

.tag, .product-section .product__tag {
  padding: 8px;
  border-radius: 8px;
  height: 35px;
  font-weight: 600; }
  .tag.is-primary, .product-section .is-primary.product__tag {
    background-color: #665df5;
    color: #fff; }
  .tag.is-aqualight, .product-section .is-aqualight.product__tag {
    color: #0bb783;
    background: #C9F7F4; }
  .tag.is-yellow, .product-section .is-yellow.product__tag {
    background-color: #ff9800;
    color: #000; }

.stars .icon {
  color: #ff9800;
  padding: 0; }

.products-section .sales-price {
  font-size: 32px;
  color: #ff9800; }

.products-section .price {
  font-size: 18px; }

.breadcrumb {
  list-style: none;
  margin: 16px 0;
  padding: 0; }
  .breadcrumb li {
    display: inline-block;
    padding: 8px; }
    .breadcrumb li:not(:last-child):after {
      content: "\f054";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      float: right;
      margin-left: 8px;
      font-size: 12px;
      line-height: 20px; }
    .breadcrumb li:nth-child(2n) {
      padding: 0; }

.product-section .control {
  display: flex;
  justify-content: space-between; }

.product-section label {
  display: block;
  margin-bottom: 16px; }
  .product-section label:not(:first-child) {
    margin-top: 16px; }
  .product-section label .icon {
    padding: 0; }

.product-section .product {
  position: relative; }

.product-section .product__image {
  max-width: 100%;
  padding: 4px 4px 4px 0; }
  .product-section .product__image img {
    display: block;
    max-width: 100%; }

.product-section .product__tags {
  position: absolute;
  right: 0;
  top: 0; }

.product-section .product__tag {
  display: block;
  font-size: 22px; }
  .product-section .product__tag:not(:first-child) {
    margin-top: 4px; }

.product-section .product__detail {
  text-decoration: none; }
  .product-section .product__detail .title {
    margin-top: 8px;
    margin-bottom: 4px;
    color: #333; }
    .product-section .product__detail .title:hover {
      color: #665df5; }
  .product-section .product__detail .sales-price {
    font-size: 24px;
    margin-top: 16px; }
  .product-section .product__detail .price {
    font-size: 16px;
    margin-bottom: 16px; }

.product-section .product-controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px; }
  .product-section .product-controls span {
    line-height: 32px; }
  .product-section .product-controls select:nth-child(2) {
    min-width: 0;
    margin: 0 8px;
    width: auto; }
  .product-section .product-controls select:nth-child(3) {
    min-width: 0;
    width: auto; }

.product-section .pagination {
  display: flex;
  justify-content: center; }
  .product-section .pagination .page:not(:last-child), .product-section .pagination .page--active:not(:last-child) {
    margin-right: 8px; }
  .product-section .pagination .page .page__item, .product-section .pagination .page--active .page__item {
    display: block;
    text-decoration: none;
    width: 35px;
    height: 35px;
    text-align: center;
    background: #e1e1e1;
    line-height: 35px; }
  .product-section .pagination .page .page__item--separator, .product-section .pagination .page--active .page__item--separator {
    line-height: 35px; }
  .product-section .pagination .page:nth-child(5) .page__item, .product-section .pagination .page--active:nth-child(5) .page__item {
    background: none; }
  .product-section .pagination .page--active .page__item {
    background: #665df5;
    color: #fff; }
