.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 16px 0 0; }

.tabs .tab {
  padding: 16px;
  width: 50%;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-top: 1px solid #bbb;
  background: #e1e1e1; }

.tabs .tab:not(.is-active) {
  border-bottom: 1px solid #bbb; }

.tabs .tab.is-active {
  background: none; }

.tab-content {
  padding: 16px;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb; }

.tab-content .row {
  margin: 0; }

.tab-content .column {
  padding: 0; }

.slider .slider-item .image {
  margin: 0; }

.slider .slider-image {
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden; }

.slider .slider-items {
  display: flex;
  padding: 0;
  text-decoration: none;
  list-style: none;
  gap: 0;
  margin-left: -2px;
  margin-right: -2px; }

.slider .slider-item {
  width: 100%;
  border: 2px solid transparent;
  cursor: pointer;
  opacity: .8;
  transition: .14s ease-in;
  overflow: hidden; }
  .slider .slider-item.is-active {
    border-color: #665df5;
    opacity: 1; }
  .slider .slider-item:first-child {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px; }
  .slider .slider-item:nth-child(5) {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px; }
  .slider .slider-item:hover {
    opacity: .9; }
  .slider .slider-item img {
    display: block; }

.stars .icon {
  color: #ff9800;
  padding: 0; }

.products-section .sales-price {
  font-size: 32px;
  color: #ff9800; }

.products-section .price {
  font-size: 18px; }

.breadcrumb {
  list-style: none;
  margin: 16px 0;
  padding: 0; }
  .breadcrumb li {
    display: inline-block;
    padding: 8px; }
    .breadcrumb li:nth-child(2n) {
      padding: 0; }

.product-section .control {
  display: flex;
  justify-content: space-between; }

.product-section label {
  display: block;
  margin-bottom: 16px; }
  .product-section label:not(:first-child) {
    margin-top: 16px; }
  .product-section label .icon {
    padding: 0; }

.product-section .product-detail .title {
  margin-top: 8px;
  margin-bottom: 4px; }

.product-section .product-detail .sales-price {
  font-size: 24px;
  margin-top: 16px; }

.product-section .product-detail .price {
  font-size: 16px;
  margin-bottom: 16px; }

.product-section .product-controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px; }
  .product-section .product-controls span {
    line-height: 32px; }
  .product-section .product-controls select:nth-child(2) {
    min-width: 0;
    margin: 0 8px;
    width: auto; }
  .product-section .product-controls select:nth-child(3) {
    min-width: 0;
    width: auto; }
