@import 'components/variables.scss';
@import 'components/mixin.scss';
@import 'components/tabs.scss';
@import 'components/slider.scss';

.stars .icon{
  color:#ff9800;
  padding:0;
}

.product-section .sales-price{
  font-size:32px;
  color:#ff9800;
}
.product-section .price{
  font-size:18px;
}
