@import 'main.scss'; 
@import 'components/buttons.scss';
@import 'components/cards.scss';
@import 'components/grid.scss';
@import 'components/slider.scss';
@import 'components/tabs.scss';
@import 'mixin.scss';
@import 'variables.scss';


body.product-1 {
    background-color:#fff;
}

.slider .slider-item .image{
    margin:0px;
}

.slider .slider-image{
    border-radius: 8px;
    margin-bottom: 16px;
    overflow: hidden;
}

figure.image.slider-image img{
    width:550px;
    height:auto;
}

figure.image img{
    width:110px;
    height:110px;
}

.slider .slider-items{
    display:flex;
    justify-content:space-around;
    margin-right:-2px;
    height:100px;
}

.slider .slider-item{
    width:100%;
    border:2px solid transparent;
    cursor:pointer;
    opacity: 0.8;
    transition: 0.14s ease-in;
    overflow:hidden;
    margin:0;
}

.slider-item:first-child{
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
}

.slider-item:nth-child(5){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.slider .slider-item:hover{
    opacity: 0.9;
}

.slider .slider-item.is-active{
    box-shadow:1px #ef6021;
    opacity: 1;
}

.stars .icon{
    color: #F8E816;
    padding:0;
}

.tabs{
    display:flex;
    list-style:none;
    padding:0;
    margin: 16px 0 0 0;
}

.tabs .tab{
    padding:16px;
    width:50%;
    border-left:1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    border-top:1px solid #CDCDCD;
    background: #fafafa;
}

.tabs .tab:not(.is-active){
    border-bottom:1px solid #CDCDCD;
}

.tabs .tab.is-active{
    background: none;
}

.tab-content{
    padding:16px;
    border-left:1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    border-bottom:1px solid #CDCDCD;
}

.tab-content .row{
    margin:0;
}

.tab-content .column{
    padding:0;
}

.product-section .sales-price{
    font-size:32px;
    color: #ef6021;
}

.product-section .price{
    font-size:18px;
    color:#B0B0B0
}
