<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous" />
      <link rel="stylesheet" href="../../css/all.css" />
    </head>
<body>
  <nav class="vertical-nav">
    <figure class="logo image vertical-nav__logo">
      <img
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f8903b05-cb23-4f4e-bf68-9546c4d368e7/d5difqb-f7c02d4a-1493-44a9-a4ce-502a7e7e928f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZjg5MDNiMDUtY2IyMy00ZjRlLWJmNjgtOTU0NmM0ZDM2OGU3XC9kNWRpZnFiLWY3YzAyZDRhLTE0OTMtNDRhOS1hNGNlLTUwMmE3ZTdlOTI4Zi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.lMLywq-Jz72_td2HyI4T1Q7ckkjeJch0Vo62dFMBf30"
        alt="My user's face">
    </figure>
    <ul class="menu__list">
      <li class="menu__item--active">
        <a href=""><i class="fas fa-home"></i></a>
      </li>
      <li class="menu__item">
        <a href=""><i class="fas fa-user-cog"></i>
        </a>
      </li>
      <li class="menu__item">
        <a href=""><i class="fas fa-user-cog"></i>
        </a>
      </li>
      <li class="menu__item">
        <a href=""><i class="fas fa-user-cog"></i>
        </a>
      </li>
      <li class="menu__item">
        <a href=""><i class="fas fa-table"></i></a>
      </li>
    </ul>
    <figure class="image vertical-nav__user">
      <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="My user's face">
    </figure>
  </nav>
</body>
</html>