body {
    margin: 0;
    background: #f1f1f1;
    font-family: Roboto;
}
div{
    display: block;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
figure{
    margin: 0;
    display: contents;
}
.header{
    background: #FFC107;
    padding: 8px;
    min-height: 40px;
}
.header.logo{
    float: left;
    padding: 8px;
    margin: 0;
}
.header .logo img{
    height: 55px;
   }
.header .logo .page-title{
    color: white;
    font-weight: 600;
}
.header .navbar{
    float: right;
}
.header .navbar .menu-list a{
    text-decoration: none;
    color: rgb(245, 243, 243);
}
.menu-list{
    list-style: none;
    padding: 0;
    margin: 15px;
}
.navbar .menu-list .menu-item{
    display: inline-block;
    padding: 8px;
}
.hero{
    margin: 64px 0 32px;
    clear: both;
    color: white;
}
.hero .container{
    font-size: x-large;
}
.hero .container img{
    margin-right: 200px;
    width: 600px;
    max-width: 100%;
    box-sizing: border-box;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
.product-discretion{
    padding-left: 15px;
}
.product-image img{
    width: 50%;
    display: flex;
}
.card .product-card{
    display: flex;
}
.column{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 16px;
} 
.main-section .row .card{
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
}
.icon{
    padding: 8px;
    border-radius: 8px;
}
.icon.is-yellow{
    color: rgb(255, 196, 2);
    background: rgb(255, 235, 169);
}
.icon.is-green{
    color: rgb(2,232,121);
    background: rgb(220,252,239);
}
.icon.is-black{
    color: rgb(0, 0, 0);
    background: rgb(124, 124, 124);
}
.footer{
    background: black;
    color: blanchedalmond;
}
.footer .logo img{
    height: 55px;
    border-radius: 3px;
    border:solid rgb(0, 0, 0) 1px;
    background: rgb(252, 209, 129);
}
.column.is-3 {
    width: 24.99%;
}
.column.is-4 {
    width: 33%;
}
.column.is-5 {
    width: 41%;
}
.column.is-6{
    width: 49.5%;
}
.column.is-7 {
    width: 58%;
}
.column.is-8{
    width: 66%;
}