    /* Tag selector = 1 point ex:(div) */
    /* Class selector = 10 points ex:(.column) */
    /* Id selector = 100 points ex:(#specific...) */
    /* other exceptions (>) (!important) (!important-in-line) */

    body{
        margin: 0;
        background: #f1f1f1;
        font-family: Roboto;
        font-size: 16px;
    }

    .has-background-primary{
        background-color: #099e76;
    }

    .has-text-primary{
        color: #099e76;
    }

    figure{
        margin: 0;
    }

    .title{
        margin: 0 0 16px;
        font-weight: 600;
    }

    .subtitle{
        font-weight: 300;
    }

    .title.is-1{
        font-size: 48px;
        font-family: Londrina Solid;
    }

    /* we put (~) to define hierarchies */
    .title~.subtitle{
        font-size: 18px;
        font-family: Londrina Solid;
        color: #df798c;
        margin: -16px 0 24px 0;
    }

    .title.is-10{
        font-size: 11px;
        color: #555;
        font-weight: 300;
        font-family: Roboto;
        text-align: center;
        padding: 8px;
    }

    .header{
        background: #DEF6E5;
        padding: 8px;
        min-height: 68px;
    }

    .header .logo img{
        height: 60px;
    }

    .header .logo{
        float: left;
        padding: 8px;
        margin: 0;
    }
        
    .header .page-title{
        font-weight: 42px;
        vertical-align: 100%;
        color: #212741;
        font-family: Londrina Solid;
    }

    .header .navbar{
        float: right;
    }

    .hero{
        margin: 64px 0 28px;
        clear: both;
    }

    .hero .title{
        margin-top: 72px;
    }

    .hero .title
    .hero .subtitle
    .hero p{
        color: #212741;
    }

    .hero .image{
        max-width: 100%;
        padding: 48px;
        box-sizing: border-box;
    }

    .menu-list{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .navbar .menu-list .menu-item{
        display: inline-block;
        margin-top: 22px;
        padding: 8px;
    }

    .navbar .menu-list .menu-item a{
        text-decoration: none;
        font-size: 14px;
        color: #212741;
        line-height: 18px;
    }
    
    .container{
        width: 800px;
        margin: 0 auto;
    }

    .card{
        background: #fff;
    }

    .card>.card-content{
        padding: 16px;
        box-shadow: #a1a1a1;
    }

    .icon{
        padding: 8px;
        border-radius: 100%;
    }

    .icon.is-green{
        background: #DEF6E5;
        color: #78c790;
    }

    .icon.is-blue{
        background: #e9f2ff;
        color: #82a9db;
    }

    .icon.is-red{
        background: #ffe9ef;
        color: #df798c;
    }

    .footer-nav .menu-list{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .footer-nav .column.is-3 .menu-list .menu-item a{
        text-decoration: none;
        font-size: 12px;
    }

    .footer .logo img{
        height: 38px;
    }

    .footer .page-title{
        font-weight: 42px;
        vertical-align: 80%;
        align-items: center;
        color: #ffffff;
        font-family: Londrina Solid;
    }

    .footer .title{
        color: #fff;
    }

    .footer{
        background: #212121;
        padding: 32px;
    }

    .footer label,
    .footer a,
    .footer span {
        color: #f1f1f1;
    }

    .footer p{
        color: #f1f1f1;
        font-size: 11px;
    }

    .column{
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        padding: 16px;
    }

    .column.is-3{
        width: 24.5%;
    }

    .column.is-4{
        width: 32.3%;
    }

    .column.is-6{
        width: 49.7%;
    }    

