<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forms</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
    
    <link rel="stylesheet" href="../../css/style.css" />
  </head>

<body>
  <header class="header">
    <a href="../../index.html">
       <figure class="logo">
           <img src="../../img/logo.png" alt="">
           <span class="page-title">
            Sandbox
            </span>
        </figure> 
    </a>
       <nav class="navbar">
           <ul class="menu-list">
                <li class="menu-item">
                    <a href="../../products/products.html">Products</a>
                </li>
                <li class="menu-item">
                    <a href="../buttons/buttons.html">Buttons</a>
                </li>
                <li class="menu-item">
                    <a href="../cards/cards.html">Cards</a>
                </li>
                <li class="menu-item">
                    <a href="../forms/index.html">Forms</a>
                </li>
                <li class="menu-item">
                    <a href="../sidebar/dashboard.html">Sidebar</a>
                </li>     
                <li class="menu-item">
                    <a href="../../register.html" class="button is-success">Login</a>
                </li>   
           </ul>
       </nav>
</header>
  <main class="forms-page">
    <div class="container">
      <h1 class="title is-2">Forms</h1>
      <h6 class="subtitle">All form inputs for all sorts of uses</h6>
      <hr>
      <form class="form">
        <div class="field">
          <label for="input-name">Your name</label>
          <input type="text" id="input-name" placeholder="Please insert your name" class="input">
        </div>
        <div class="field">
          <label for="input-siblings">Your nr of siblings</label>
          <input type="number" id="input-siblings" class="input" placeholder="Your nr of siblings">
        </div>
        <div class="field">
          <label for="input-birth">Date of birth</label>
          <input type="date" id="input-birth" class="input">
        </div>
        <div class="field">
          <label for="textarea-about">About me</label>
          <textarea id="textarea-about" class="textarea"> </textarea>
        </div>
        <div class="field">
          <label for="select-pet">What's your favorite type of pet</label>
          <select name="select_pet" id="select-pet" class="select">
            <option value="dog">
              Dog
            </option>
            <option value="cat">
              Cat
            </option>
            <option value="iguana">
              Iguana
            </option>
            <option value="human">
              Human
            </option>
          </select>
        </div>
        <div class="field">

          <label>What are your favorite movie genres (from a list of 3)</label>
          <div class="control">
            <label for="checkbox-movies-comedy">Comedy</label>
            <input type="checkbox" id="checkbox-movies-comedy" value="movies-comedy" class="checkbox" />
          </div>
          <div class="control">
            <label for="checkbox-movies-action">Action</label>
            <input type="checkbox" id="checkbox-movies-action" value="movies-action" class="checkbox" />
          </div>
          <div class="control">
            <label for="checkbox-movies-thriller">Thriller</label>
            <input type="checkbox" id="checkbox-movies-thriller" value="movies-thriller" class="checkbox" checked />
          </div>
        </div>
        <div class="field">
          <label>Select a thing</label>
          <div class="control">
            <label for="radio-thing-1">Thing 1</label>
            <input type="radio" id="radio-thing-1" value="thing-1" name="radio-thing" class="radio" checked />
          </div>
          <div class="control">
            <label for="radio-thing-2">Thing 2</label>
            <input type="radio" id="cradio-thing-2" value="thing-2" name="radio-thing" class="radio" />
          </div>
          <div class="control">
            <label for="radio-thing-3">Thing 3</label>
            <input type="radio" id="radio-thing-3" value="thing-3" name="radio-thing" class="radio" />
          </div>
        </div>
        <button class="button is-danger"> Send nukes </button>
        <button class="button is-success"> Submit </button>
      </form>
    </div>
  </main>
</body>

</html>