<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>Buttons</title>
</head>
<body> 
    <header class="header">
        <a href="../../index.html">
           <figure class="logo">
               <img src="../../img/logo.png" alt="">
               <span class="page-title">
                Sandbox
                </span>
            </figure> 
        </a>
           <nav class="navbar">
               <ul class="menu-list">
                    <li class="menu-item">
                        <a href="../../products/products.html">Products</a>
                    </li>
                    <li class="menu-item">
                        <a href="buttons.html">Buttons</a>
                    </li>
                    <li class="menu-item">
                        <a href="../cards/cards.html">Cards</a>
                    </li>
                    <li class="menu-item">
                        <a href="../forms/index.html">Forms</a>
                    </li>
                    <li class="menu-item">
                        <a href="../sidebar/dashboard.html">Sidebar</a>
                    </li>     
                    <li class="menu-item">
                        <a href="../../register.html" class="button is-success">Login</a>
                    </li>   
               </ul>
           </nav>
    </header>
    <main class="buttons-page">
        <div class="container">
            <h3>My buttons</h3>
            <h6>A list of buttons for all uses</h6>
            <hr>
        <section>
            <button class="button is-primary">Primary</button>
            <hr>
            <button class="button is-info">Info</button>
            <hr>
            <button class="button is-success">Success</button>
            <hr>
            <button class="button is-warning">Warning</button>
            <hr>
            <button class="button is-danger">Danger</button>
            <hr>
        </section>
        </div>
    </main>   
    <footer class="footer">
        <nav class="fotter-nav">
            <div class="column is-3">
                <figure class="logo">
                    <img src="img/logo.png" alt="">
                    <span>Sanbox</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum adipisci quas deleniti expedita illo quidem.</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </figure>
            </div>
            <div class="column is-3">
                <ul>
                    <li><a href="">Alexandre</a></li>
                    <li><a href="">Carlos Campos</a></li>
                    <li><a href="">Inês Correia</a></li>
                </ul>
            </div>
            <div class="column is-3">
                <ul>
                    <li><a href="">Pedro Barbosa</a></li>
                    <li><a href="">Tânia Vieira</a></li>
                    <li><a href="">Vitor Coelho</a></li>
                </ul>
            </div>
        </nav>
    </footer>
</body>
</html>