.tania {
  box-sizing: border-box; }

.buttons {
  display: flex;
  margin-top: 16px; }
  .buttons.is-aligned-right {
    justify-content: flex-end; }
  .buttons.is-spaced-between {
    justify-content: space-between; }

.button {
  border: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 3px;
  background: #333;
  box-sizing: border-box;
  transition: background-color .1s ease-in;
  text-decoration: none;
  outline: none;
  font-family: ubuntu;
  font-weight: normal;
  font-size: 14px;
  min-width: 125px; }

.button:not(:last-child) {
  margin-right: 8px; }

.button.is-small {
  padding: 8px 12px; }

.button.is-fullwidth {
  width: 100%; }

.button.is-large {
  font-size: 20px; }

/* Button Primary*/
/* FM */
.button.is-primary-orange {
  border-left: 4px solid #333333;
  background-color: #ef6021; }

.button.is-primary-orange:hover {
  cursor: pointer;
  background-color: #333333;
  border-right: 4px solid #ef6021;
  color: #ffffff; }

/* Blog */
.button.is-primary-light-orange {
  border-left: 4px solid #333333;
  background-color: #FF783D; }

.button.is-primary-light-orange:hover {
  cursor: pointer;
  background-color: #333333;
  border-right: 4px solid #FF783D;
  color: #ffffff; }

/* Products */
.button.is-primary-dark-orange {
  border-left: 4px solid #333333;
  background-color: #D83313; }

.button.is-primary-dark-orange:hover {
  cursor: pointer;
  background-color: #333333;
  border-right: 4px solid #D83313;
  color: #ffffff; }

/* Galerie */
.button.is-primary-yellow {
  border-left: 4px solid #333333;
  background-color: #F8E816; }

.button.is-primary-yellow:hover {
  cursor: pointer;
  background-color: #333333;
  border-right: 4px solid #F8E816;
  color: #ffffff; }

/* Services */
.button.is-primary-greyblue {
  border-left: 4px solid #333333;
  background-color: #126476; }

.button.is-primary-greyblue:hover {
  cursor: pointer;
  background-color: #333333;
  border-right: 4px solid #126476;
  color: #ffffff; }

/* Contacts */
.button.is-primary-black {
  border-left: 4px solid #333333;
  background-color: #000000;
  color: #ffffff; }

.button.is-primary-black:hover {
  cursor: pointer;
  background-color: #333333;
  border-right: 4px solid #000000;
  color: #ffffff; }

/* Button Secondary*/
.button.is-secondary {
  border-left: 4px solid #000;
  background-color: #333333;
  color: #ffffff; }

.button.is-secondary:hover {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff; }

/* Savoir Plus*/
.button.is-savoir {
  border-left: 4px solid transparent;
  border: 1px solid #333333;
  background-color: rgba(51, 51, 51, 0.1);
  color: #000; }

.button.is-savoir:hover {
  cursor: pointer;
  font-weight: normal;
  background-color: rgba(51, 51, 51, 0.2);
  color: #000; }

/*
  Button success
*/
.button.is-success {
  border-left-color: #3d8e40;
  background-color: #4CAF50; }

.button.is-success:hover {
  cursor: pointer;
  background-color: #3d8e40;
  color: #ffffff; }

/* Button Info*/
.button.is-info {
  border-left-color: #008bb6;
  background-color: #019DCC; }

.button.is-info:hover {
  cursor: pointer;
  background-color: #008bb6;
  color: #ffffff; }

/* Button Danger*/
.button.is-danger {
  border-left-color: darkred;
  background-color: red; }

.button.is-danger:hover {
  cursor: pointer;
  background-color: darkred;
  color: #ffffff; }

/* Button Warning*/
.button.is-warning {
  border-left-color: #c77802;
  background-color: #ff9800; }

.button.is-warning:hover {
  cursor: pointer;
  background-color: #c77802;
  color: #ffffff; }

/*
 Page specific styles, not to be used in component
*/
.buttons-page {
  margin-top: 50px; }

.buttons-page code {
  float: right;
  line-height: 42px; }

.tania {
  box-sizing: border-box; }

.card {
  display: block;
  background: #fff;
  border-radius: 4px; }
  .card .card-content {
    padding: 16px;
    box-sizing: border-box; }

.tania {
  box-sizing: border-box; }

body {
  background-color: #fff; }

.field:not(last-child) {
  magin-bottom: 32px; }

.field input,
.field textarea,
.field select {
  box-sizing: border-box; }

.forms-page .container .title.is-2 {
  margin-top: 32px; }

.form {
  margin-top: 32px; }

.form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px; }

.input, .select {
  height: 42px;
  min-width: 100px;
  width: 100%;
  padding: 24px 8px;
  border: none;
  background-color: none;
  outline: 0 !important;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  background: #fafafa; }

.field .icon {
  position: absolute;
  line-height: 42px;
  padding: 0 10px;
  color: #999; }

.field:hover .icon {
  color: #333;
  display: block; }

.field .icon ~ .input {
  padding-left: 32px; }

.input.is-dark {
  color: #fff;
  background: #333;
  border: 1px solid #333; }

.input ~ .message {
  margin-top: 6px;
  font-size: 12px;
  color: 777; }

.input ~ .message.is-danger {
  color: #f44336; }

.input ~ .message.is-info {
  margin-top: 6px;
  font-size: 6px;
  color: royalblue; }

.input:hover {
  border: 1px solid #B0B0B0; }

.input:focus {
  border: 1px solid #373737; }

.textarea {
  min-height: 200px;
  min-width: 200px;
  padding: 8px;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  background-color: #fafafa;
  outline: 0 !important; }

.textarea:hover {
  border: 1px solid #B0B0B0; }

.textarea:focus {
  border: 1px solid #ef6021; }

.control {
  display: inline-block; }

.control label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  vertical-align: 20%;
  margin-top: 0; }

.control input {
  display: inline-block; }

.container button {
  margin: 25px 0; }

.tania {
  box-sizing: border-box; }

body .grid-page {
  background-color: #ffffff; }

.row {
  display: flex;
  justify-content: space-between;
  margin-left: -16px;
  margin-right: -16px; }
  .row.is-multiline {
    flex-wrap: wrap; }
    .row.is-multiline .column {
      padding: 8px; }
  .row.is-small {
    margin-left: -8px;
    margin-right: -8px; }
  .row .column {
    vertical-align: top;
    box-sizing: border-box;
    padding: 16px;
    width: 100%; }
    .row .column.is-1 {
      width: 8.33333333%; }
    .row .column.is-2 {
      width: 16.66666667%; }
    .row .column.is-3 {
      width: 25%; }
    .row .column.is-4 {
      width: 33.33333333%; }
    .row .column.is-5 {
      width: 41.66666667%; }
    .row .column.is-6 {
      width: 50%; }
    .row .column.is-7 {
      width: 58.33333333%; }
    .row .column.is-8 {
      width: 66.6666666667%; }
    .row .column.is-9 {
      width: 75%; }
    .row .column.is-10 {
      width: 83.33333333%; }
    .row .column.is-11 {
      width: 91.66666667%; }
    .row .column.is-12 {
      width: 100%; }

.box {
  height: 300px;
  width: 100%;
  background-color: red; }

.tania {
  box-sizing: border-box; }

.header {
  background-color: #fafafa;
  padding: 12px;
  min-height: 40px; }

.header .logo {
  float: left;
  padding: 8px;
  padding: 0 8px 0 0;
  margin: 0; }

.header .logo img {
  height: 32px;
  border-radius: 8px; }

.header .logo img {
  height: 32px;
  border-radius: 4px; }

.header .page-title {
  font-weight: 600;
  color: #000;
  vertical-align: 62%; }

.header .navbar {
  justify-content: space-between; }

.navbar-wrapper {
  display: flex;
  justify-content: space-between; }

.navbar .menu-list .menu-item {
  display: inline-block;
  padding: 8px; }

.navbar .menu-list .menu-item a {
  text-decoration: none;
  line-height: 18px;
  color: #333;
  padding-right: 8px;
  padding-left: 8px; }

.navbar .menu-list .menu-item a:hover {
  font-weight: 500;
  border-left: 2px solid #333;
  border-right: 2px solid #333; }

.navbar .menu-list .menu-item a.button {
  color: #fff;
  padding: 15px 35px; }

.navbar .menu-list .menu-item a.button:hover {
  cursor: pointer;
  background-color: #333333;
  border-right: 4px solid #000000;
  color: #ffffff; }

.tania {
  box-sizing: border-box; }

.footer .logo img {
  height: 32px;
  filter: invert(100%);
  border-radius: 8px; }

.footer-nav .logo span {
  vertical-align: 62%; }

.footer-nav .menu-list {
  display: inline-block;
  padding: 8px; }

.footer-nav .menu-list .menu-item a {
  text-decoration: none;
  line-height: 18px;
  color: #fff; }

.footer {
  background-color: #333;
  padding: 32px; }

.footer .title {
  color: white; }

.footer p,
.footer label,
.footer a,
.footer span {
  color: #fff; }

.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 16px 0 0; }

.tabs .tab {
  padding: 16px;
  width: 50%;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-top: 1px solid #bbb;
  background: #e1e1e1; }

.tabs .tab:not(.is-active) {
  border-bottom: 1px solid #bbb; }

.tabs .tab.is-active {
  background: none; }

.tab-content {
  padding: 16px;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb; }

.tab-content .row {
  margin: 0; }

.tab-content .column {
  padding: 0; }

.tania {
  box-sizing: border-box; }

body {
  margin: 0px;
  background-color: #f1e8e8;
  font-family: ubuntu;
  font-size: 16px; }

*, ::after, ::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

p {
  margin: 0; }

main {
  clear: both; }

section {
  margin: 32px 16px; }

.has-background-primary {
  background-color: #665df5; }

.has-text-primary {
  color: #665df5; }

figure {
  margin: 0; }

.image img {
  max-width: 100%; }

.title {
  margin: 0 0 16px;
  font-weight: 300; }

.subtitle {
  font-weight: 300; }

.title.is-1 {
  font-size: 48px;
  font-weight: 800; }

.title.is-2 {
  font-size: 32px; }

.title.is-3 {
  font-size: 24px; }

.title.is-4 {
  font-size: 20px; }

.title.is-5 {
  font-size: 18px; }

.title.is-6 {
  font-size: 16px; }

.title ~ .subtitle {
  margin-top: -12px; }

.link {
  color: #019DCC;
  text-decoration: underline; }

.link:hover {
  color: #008bb6; }

.header {
  background-color: #fafafa;
  padding: 12px;
  min-height: 40px; }

.header .logo {
  float: left;
  padding: 8px;
  padding: 0 8px 0 0;
  margin: 0; }

.header .logo img {
  height: 32px;
  border-radius: 8px; }

.header .logo img {
  height: 32px;
  border-radius: 4px; }

.footer .logo img {
  height: 32px;
  filter: invert(100%);
  border-radius: 8px; }

.footer-nav .logo span {
  vertical-align: 62%; }

.header .page-title {
  font-weight: 600;
  color: #000;
  vertical-align: 62%; }

.header .navbar {
  justify-content: space-between; }

.navbar-wrapper {
  display: flex;
  justify-content: space-between; }

.hero {
  margin: 64px 0 32px;
  margin: 0;
  clear: both;
  /*depois de um float deve ser inserido*/
  background: #373737; }

.hero .title,
.hero .subtitle {
  margin-top: 64px;
  color: #ffffff; }

.hero .subtitle {
  color: #ffffff; }

.hero .title ~ .subtitle {
  margin-top: 0;
  color: #ffffff; }

.hero p {
  color: #fafafa; }

.hero .image {
  width: 100%;
  padding: 16px;
  box-sizing: border-box; }

.hero .button {
  width: 100%; }

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.navbar .menu-list .menu-item {
  display: inline-block;
  padding: 8px; }

.navbar .menu-list .menu-item a {
  text-decoration: none;
  line-height: 18px;
  color: #333;
  padding-right: 8px;
  padding-left: 8px; }

.navbar .menu-list .menu-item a:hover {
  font-weight: 500;
  border-left: 2px solid #333;
  border-right: 2px solid #333; }

.navbar .menu-list .menu-item a.button {
  color: #fff;
  padding: 15px 35px; }

.navbar .menu-list .menu-item a.button:hover {
  cursor: pointer;
  background-color: #333333;
  border-right: 4px solid #000000;
  color: #ffffff; }

.footer-nav .menu-list {
  display: inline-block;
  padding: 8px; }

.footer-nav .menu-list .menu-item a {
  text-decoration: none;
  line-height: 18px;
  color: #fff; }

.menu__dropdown {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  padding: 8px;
  background: #fff;
  border-radius: 4px;
  width: 120px; }

.dropdown__item {
  display: block; }

.dropdown__item a {
  display: block;
  color: #04050A;
  padding: 16px 12px;
  text-decoration: none; }

.menu__item:hover .menu__dropdown, .menu__item--expandable:hover .menu__dropdown, .menu__item--active:hover .menu__dropdown {
  display: block; }

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.menu__item, .menu__item--expandable, .menu__item--active {
  display: inline-block;
  position: relative;
  padding: 8px; }

.menu__item > a:not(.button), .menu__item--expandable > a:not(.button), .menu__item--active > a:not(.button), .menu__item span, .menu__item--expandable span, .menu__item--active span {
  text-decoration: none;
  color: #bbb;
  line-height: 18px; }

.menu__item--expandable:after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 4px;
  font-size: 12px;
  line-height: 20px;
  color: #e1e1e1; }

.menu__item--expandable:hover:after {
  content: "\f077"; }

.menu__item--active {
  color: #fff; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.container .button {
  margin: 0 auto; }

.container.is-small {
  width: 500px;
  margin: auto; }

.card {
  background: #fff; }

.card > .card-content {
  padding: 16px; }

.product-card .card-content {
  display: flex;
  justify-content: space-between; }

.product-image {
  width: 40%;
  height: 220px;
  border-radius: 8px; }

.product-card .product-detail {
  width: 60%;
  padding-left: 32px; }

.sales-price {
  color: #FFD045; }

.price {
  font-size: 70%;
  color: #fafafa;
  text-decoration: line-through; }

.product-row .column:nth-child(1) .product-image {
  background-image: url("https://unsplash.com/photos/LxVxPA1LOVM/download?force=true");
  background-size: cover;
  background-position: center; }

#product-row .column:nth-child(2) .product-image {
  background-image: url("https://unsplash.com/photos/164_6wVEHfI/download?force=true");
  background-size: cover;
  background-position: center; }

#product-row .column:nth-child(3) .product-image {
  background-image: url("https://unsplash.com/photos/4qSb_FWhHKs/download?force=true");
  background-size: cover;
  background-position: center; }

#product-row .column:nth-child(4) .product-image {
  background-image: url("https://unsplash.com/photos/_fOL6ebfECQ/download?force=true");
  background-size: cover;
  background-position: center; }

.icon {
  padding: 8px;
  border-radius: 8px; }

.icon.is-yellow {
  background: #FAF8E0;
  color: #FFD045;
  padding: 8px;
  border-radius: 4px; }

.icon.is-green {
  background: #DCFCEF;
  color: #02E879;
  padding: 8px;
  border-radius: 4px; }

.icon.is-purple {
  background: #F4EBFD;
  color: #B753E7;
  padding: 8px;
  border-radius: 4px; }

.footer {
  background-color: #333;
  padding: 32px; }

.footer .title {
  color: white; }

.footer p,
.footer label,
.footer a,
.footer span {
  color: #fff; }

/*.is-vertical-top{
        vertical-align: top;
    }*/
.is-vertical-middle {
  vertical-align: baseline; }

.has-text-green {
  color: seagreen; }
