.tania {
  box-sizing: border-box; }

.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 16px 0 0; }

.tabs .tab {
  padding: 16px;
  width: 50%;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-top: 1px solid #bbb;
  background: #e1e1e1; }

.tabs .tab:not(.is-active) {
  border-bottom: 1px solid #bbb; }

.tabs .tab.is-active {
  background: none; }

.tab-content {
  padding: 16px;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb; }

.tab-content .row {
  margin: 0; }

.tab-content .column {
  padding: 0; }

.tania {
  box-sizing: border-box; }

.sidebar .menu-item .fa-chevron-up {
  display: none; }

.sidebar .menu-item .fa-chevron-down {
  display: inline-block; }

.sidebar .menu-item:hover .fa-chevron-up {
  display: inline-block; }

.sidebar .menu-item:hover .fa-chevron-down {
  display: none; }

.sidebar .menu-item:hover .dropdown {
  display: block; }

.sidebar .menu-item a {
  display: block;
  padding: 12px 0;
  text-decoration: none;
  color: #333; }

.sidebar .menu-item a:hover {
  color: #333; }

.sidebar .dropdown {
  padding: 0 8px 8px; }

.sidebar .dropdown {
  display: none; }

.sidebar-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  background: #04050A; }
  .sidebar-nav .menu-item:not(.is-active) a:hover {
    color: #fff; }
  .sidebar-nav .menu-item.is-active a {
    color: #333;
    border-color: #333; }
  .sidebar-nav .menu-item a {
    display: block;
    padding: 5px;
    color: #e1e1e1;
    width: calc(100% - 4px);
    text-align: center;
    margin: 32px 0;
    border-left: 4px solid transparent; }
  .sidebar-nav .user-face {
    position: absolute;
    bottom: 16px;
    left: 0;
    height: 60px;
    width: 60px;
    padding: 12px; }
    .sidebar-nav .user-face img {
      border-radius: 100%; }
  .sidebar-nav .logo {
    height: 44px;
    width: 44px;
    margin: 8px;
    padding: 2px;
    background-color: #333;
    border-radius: 4px; }

body.sidebar-open {
  padding-left: 60px; }

.tania {
  box-sizing: border-box; }

.pagination {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  list-style-type: none; }
  .pagination .page {
    margin-right: 8px; }
    .pagination .page .page__item {
      display: block;
      text-decoration: none;
      height: 35px;
      width: 35px;
      background-color: #B0B0B0;
      border-radius: 18px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      opacity: 0.6; }
      .pagination .page .page__item:hover {
        opacity: 1; }
      .pagination .page .page__item:active {
        border-radius: 8px; }
    .pagination .page span.page__item--separator {
      color: black;
      line-height: 50px;
      font-weight: 300;
      font-size: 10px; }
    .pagination .page .page__item--separator {
      display: block;
      text-decoration: none;
      height: 35px;
      width: 35px;
      background-color: none;
      color: #EF6021;
      text-align: center;
      line-height: 35px;
      font-size: 15px;
      opacity: 0.8;
      font-weight: 900; }
      .pagination .page .page__item--separator:hover {
        color: black; }
      .pagination .page .page__item--separator:active {
        font-size: 20px; }
  .pagination .page--active {
    display: block;
    height: 35px;
    width: 35px;
    background-color: #EF6021;
    text-align: center;
    line-height: 35px;
    margin-right: 8px;
    border-radius: 8px; }
    .pagination .page--active a {
      text-decoration: none;
      color: #ffffff; }

.stars .icon {
  color: #ff9800;
  padding: 0; }

.product-section .sales-price {
  font-size: 32px;
  color: #ff9800; }

.product-section .price {
  font-size: 18px; }

.product__breadcrumb {
  list-style: none;
  margin: 16px 0;
  padding: 0; }
  .product__breadcrumb li {
    display: inline-block;
    padding: 8px;
    padding-left: 0; }
    .product__breadcrumb li:not(:last-child):after {
      content: "\f054";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      float: right;
      margin-left: 6px;
      font-size: 12px;
      line-height: 20px; }
    .product__breadcrumb li:nth-last-child {
      padding: 0; }

.product__banner {
  background-color: red;
  display: block;
  position: relative;
  padding: 50px 0; }
  .product__banner .image {
    display: flex-end;
    width: 100%;
    height: 100%; }
  .product__banner .card {
    display: flex;
    position: absolute;
    vertical-align: middle;
    max-width: 200px;
    left: 40%; }

.product-section h1.title.is-6 {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0; }
