body {
  margin: 0;
  background: #f1f1f1;
  font-family: Roboto;
  font-size:16px;
}

main{
  clear:both;
}

.has-background-primary {
  background-color: #665df5;
}

.has-text-primary {
  color: #665df5;
}

figure {
  margin: 0;
}

.title {
  margin: 0 0 16px;
  font-weight: 300;
}

.subtitle {
  font-weight: 300;
}

.title.is-1 {
  font-size: 48px;
}

.title.is-2 {
  font-size: 32px;
}

.title~.subtitle {
  margin-top: -16px;
}

.header {
  background: #665df5;
  padding: 8px;
  min-height:40px;
}

.header .logo {
  float: left;
  padding: 8px;
  margin: 0;
}

.header .logo img{
  height:32px;
  border-radius:8px;
}

.footer .logo img{
  height:32px;
  border-radius:8px;
}

.footer .logo span{
  vertical-align: top;
}

.header .page-title {
  font-weight: 600;
  color: #fff;
}

.header .navbar {
  float: right;
}

.hero {
  margin: 64px 0 32px;
  clear: both;
}

.hero .title {
  margin-top: 64px;
}

.hero .title,
.hero .subtitle,
.hero p {
  color: #fff;
}

.hero .image {
  max-width: 100%;
  padding: 48px;
  box-sizing: border-box;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .menu-list .menu-item {
  display: inline-block;
  padding: 8px;
}

.navbar .menu-list .menu-item a {
  text-decoration: none;
  color: #fff;
  line-height: 18px;
}

.footer-nav .menu-list {

}

.container {
  width: 800px;
  margin: 0 auto;
}

.card {
  background: #fff;
}

.card>.card-content {
  padding: 16px;
}

.icon {
  padding: 8px;
  border-radius: 8px;
}

.icon.is-yellow {
  background: #FAF8E0;
  color: #FFD045;
}

.icon.is-green {
  background: #DCFCEF;
  color: #02E879;
}

.icon.is-purple {
  background: #F4EBFD;
  color: #B753E7;
}

.footer {
  background: #212121;
  padding: 32px;
}

.footer .title {
  color: #fff;
}

.footer p,
.footer label,
.footer a,
.footer span {
  color: #f1f1f1;
}

/* .column {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 16px;
}

.column.is-3 {
  width: 24.5%;
}

.column.is-4 {
  width: 33%;
}

.column.is-6 {
  width: 49.7%;
} */