<footer class="footer">
    <nav class="footer-nav">
        <div class="row">
            <div class="column is-6">
            <figure class="logo">
                <img src="/tvieira/images/rodacork.png" alt="logo RodaCork">
                <span>RodaCork</span>
            </figure>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, velit.</p>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        </div>
        <div class="row">
    <div clas="column is-3">
        <ul class="menu-list">
            <li class="menu-item">
                <a href="/Alexandre/index.html" target="_blank">Alexandre</a>
            </li>
            <li class="menu-item">
                <a href="/Carlos/first_project/index.html" target="_blank">Carlos Campos</a>
            </li>
        </ul>
    </div>

    <div clas="column is-3">
        <ul class="menu-list">
            <li class="menu-item">
                <a href="/inesfolder/index.html" target="_blank">Inês Correia</a>
            </li>
            <li class="menu-item">
                <a href="/pedro/index.html" target="_blank">Pedro Barbosa</a>
            </li>
        </ul>
    </div>

    <div clas="column is-3">
        <ul class="menu-list">
            <li class="menu-item">
                <a href="/tvieira/index.html" target="_blank">Tânia Vieira</a>
            </li>

            <li class="menu-item">
                <a href="/vitor/index.html" target="_blank">Vitor Coelho</a>
            </li>
        </ul>
    </div>
</div>
</nav>
</footer>

</body>

</html>