.pub-products{
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 15px;
        width: 100%;
        
      }
}

.filtros{
    background-color: white;
    display: block;
    .filtronome{
        margin-bottom: 10px;
        
        i{
            color: red;
            margin-right: 5px;
        }
    }
}


.listaprodutos{
    background-color: white;
    .product-image img{
    width: 100%;
    display: flex;
    margin: auto;
    }
    .ordenar-numero-produtos{
        float: right;
        margin-bottom: 10px;
        font-size: 12px;
        color: #767676;
        select{
            border: 1px solid #dfdfdf;
            background-color: #fafafa;
            font-weight: 400;
            color: #4d4f53;
            height: 33px;
        }
    }
    button{
        border: none;
        background-color: white;
        padding: 0;
        width: 0px;
        &:hover{
            color: red;
        }
    }
    h4{
        margin-bottom: 3px;
    }
    h2{
        margin: 6px;
        color: red;
    }
    .star{
        color: #F7AA30;
        .n{
            font-size: .7rem;
            color: black;
        }
    }
}
.product-search{
    float: right;
    color: #767676;
    input{
        width: 300px;
        height: 25px;
    }
    button{
        border: none;
        color: #767676;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        
    }
}




