.pub-products{
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 15px;
        width: 100%;
        
      }
}

.filtros{
    background-color: white;
    display: block;
    .filtronome{
        margin-bottom: 10px;
        
        i{
            color: red;
            margin-right: 5px;
        }
    }
}


.listaprodutos{
    background-color: white;
    .product-image img{
    width: 100%;
    display: flex;
    margin: auto;
    }
    button{
        border: none;
        background-color: white;
        padding: 0;
        width: 0px;
        &:hover{
            color: red;
        }
    }
    h4{
        margin-bottom: 3px;
    }
    h2{
        margin: 6px;
        color: red;
    }
    .star{
        color: #F7AA30;
        .n{
            font-size: .7rem;
            color: black;
        }
    }
}




