$FM-orange: #EF6021;
$FM-coral: #FF783D;
$FM-red:#D83313;
$FM-yellow:#F8E816;
$FM-greyblue:#126476;
$FM-darkgrey: #333333;
$FM-grey:#B0B0B0;
$FM-lightgrey:#cdcdcd;
$FM-darkwhite:#fafafa;
$FM-white:#ffffff;
$success:#4CAF50;
$danger:#f44336;
$warning:#ff9800;
$info: #blue;

$font-family: '';
$font-size: '';

$h1-font-size: '';
$h2-font-size: '';
$h3-font-size: '';

$background-color:'';
$gutter-spacing:'';
$radius:8px;


